:root {
  --main-bg: #1E2240;
  --accent: #F96C71;
  --main-text: #DBE0F7;
  --inactive-text: #656A83;
  --shadow: #151932;
}

body {
  background: var(--main-bg);
  color: var(--main-text);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  height:100vh;
  align-items: center;
  gap:1rem;
  overflow:hidden;
}

main {
  display:flex;
  height:100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:2rem;
}

h1 {
  text-transform: lowercase;
}

.radio {
  border: none;
  background: var(--shadow);
  display:inline-block;
  border-radius: 2rem;
  padding:1rem;
}

input[type=radio] {
  display:none;
}

label {
  cursor:pointer;
  color: var(--inactive-text);
  font-size: small;
  border-radius:2rem;
  padding:0.75rem 1rem;
  transition: all 300ms;
}

input[type=radio]:checked + label {
  background: var(--accent);
  color: var(--main-bg)
}

.pomodoro-timer-wrapper {
  width:50vmin;
  height:50vmin;
  border: 1px solid white;
  border-radius: 50%;
}
.pomodoro-timer {
  display:flex;
  flex-direction:column;
  align-items: center;
}

.time-left {
  font-size:10vmin;
}

.pause {
  font-size:3vmin;
  letter-spacing: 0.25em;
  background:none;
  border:none;
  color: var(--inactive-text);
  cursor:pointer;
}

.settings-btn {
  background:none;
  border:none;
  cursor:pointer;
}